@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<MapboxMap @ref="@_Map" Options="@_Options" AccessToken=""></MapboxMap>

@code {

    private MapboxMap _Map;
    private Options _Options = new Options()
    {
        Style = Options.DefaultStyles.Streets,
        Zoom = 9,
        Center = new Models.LngLat(-74.0060f, 40.7128f) // New York city
    };

}